Jinja2==2.8
MarkupSafe==0.23
jsonschema==2.5.1
ipython==3.2.1
pyzmq==14.7.0
tornado==4.2.1
wsgiref==0.1.2
mistune==0.7.1
terminado==0.5
pygments==2.0.2
numpy==1.9.2
scipy==0.15.1
scikit-learn
sympy
matplotlib
https://bitbucket.org/fraka6/mlboost/get/default.zip
theano
theanets
nose
