Jinja2==2.8
MarkupSafe==0.23
jsonschema==2.5.1
ipython==3.2.1
pyzmq==14.7.0
tornado==4.2.1
wsgiref==0.1.2
mistune==0.7.1
terminado==0.5
pygments==2.0.2
numpy==1.9.3
scipy==0.16.0
scikit-learn==0.16.1
matplotlib==1.4.3
theano==0.7
theanets==0.6.2
pandas==0.17.0
